.container {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    height: 97%;
    margin-left: 20px;
    margin-top: 20px;
}

.book-copy-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.book-copy-table th,
.book-copy-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.book-copy-table td {
    text-align: left;
}
.book-copy-table .delete-column {
    text-align: center;
}

.book-copy-table th {
    background-color: #f2f2f2;
}

.book-copy-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-copy-table tr:hover {
    background-color: #f1f1f1;
}

.book-copy-table td input,
.book-copy-table td .basic-multi-select {
    width: 100%;
}

.book-copy-table th:nth-child(1),
.book-copy-table td:nth-child(1) {
    width: 25%;
}

.book-copy-table th:nth-child(2),
.book-copy-table td:nth-child(2) {
    width: 30%;
}

.book-copy-table th:nth-child(3),
.book-copy-table td:nth-child(3) {
    width: 30%;
}

.book-copy-table th:nth-child(4),
.book-copy-table td:nth-child(4) {
    width: 10%;
}


.language-copies {
    margin-bottom: 10px;
}

.add-button {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: #4169E1;;
}

.delete-button {
    padding: 5px 10px;
    background-color: #e74c3c !important;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c0392b !important;
}