/* General Popup Styles */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Adjusted to fit the viewport */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeInQuick 0.4s ease-in-out;
}

.rs-picker-popup-date {
  width: 320px;
}
.rs-stack {
  width: 100%;
}

.date-picker {
  border: none;
  background: none;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 0;
}
.popup {
  position: absolute;
  top: -7rem;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  transform: scale(0);
  animation: scaleUpQuick 0.2s forwards;
  overflow: visible;
}

/* Container and Form Fields */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.multi-fields {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.multi-fields input,
.container input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.multi-fields input:focus,
.container input:focus {
  border-color: #fbb034;
  box-shadow: 0 0 5px rgba(251, 176, 52, 0.5);
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ddd;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

textarea:focus {
  border-color: #fbb034;
  box-shadow: 0 0 5px rgba(251, 176, 52, 0.5);
}

/* Button Styles */
.add-button {
  padding: 10px;
  background-color: #3b3c3b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s;
}

.add-button:hover {
  background-color: #565656;
  transform: translateY(-2px);
}

/* Image Upload Section */
.add-img-upload {
  text-align: center;
}

.add-img-upload img {
  width: 100px;
  height: 100px;
  border: 2px dashed #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: border-color 0.2s ease;
}

.add-img-upload img:hover {
  border-color: #fbb034;
}

.add-books-close-button {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Smooth transition for the rotation */
}
.add-books-close-button img {
  width: 30px;
  height: 30px;
}

/* Define the initial rotation state */
.add-books-close-button svg {
  transition: transform 0.3s ease;
  background: none;
}

@keyframes fadeInQuick {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .popup {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px;
  }
}
.multi-select {
  display: flex;
  gap: 10px; /* Adjust the gap between selects */
}

.addbook-select {
  width: 200px; /* Ensure this matches your customStyles width */
}
