/* Global Styles */
* {
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: start;
  align-items: start;
}

/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: inherit;
  backdrop-filter: blur(100px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 75px;
}

/* Navbar Left Section */
.navbar-left {
  flex: 2;
  display: flex;
  align-items: center;
}

.navbar-left p {
  margin: 0;
  color: #fbb033;
  font-size: 2rem;
  position: relative;
  right: 4.4rem;
}

.navbar-logo {
  width: 40%;
  object-fit: cover;
  transition: color 0.3s ease;
  padding-left: 10px;
  margin-left: 30px;
}

/* Navbar Center Section */
.navbar-center {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #919591;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fbb033;
}

/* Navbar Right Section */
.navbar-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.navbar-right button:hover {
  background-color: inherit;
}

.profile-pic {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
}

.profile-pic img:hover {
  transform: scale(1.1);
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: fixed; /* Use fixed to position relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 4000;
  padding: 10px;
  border-radius: 10px;
}

.dropdown-menu a {
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.login-signup-container {
  margin-bottom: 4px;
}

.login {
  font-size: 18px;
  margin-left: 10px;
  color: #919591;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login:hover {
  color: #fbb033;
}

.navbar-right:hover {
  background: none;
}
