.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the wrapper take the full viewport height */
  width: 100vw; /* Make the wrapper take the full viewport width */
}
.register-container {
  display: flex;
  position: relative;
  left: 164px;
  width: 250%;
  height: 95vh;
  justify-content: center;
  font-family: "Arial", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.register-left {
  flex: 1;
}

.register-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  border-radius: 10px 0 0 10px; /* Add rounded corners to the left only */
}

.register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
}

.register-right h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.register-right input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  transition: border 0.3s;
}

.register-right input:focus {
  border-color: #007bff;
  outline: none;
}

.register-right button {
  width: 80%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-right button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}
.error-input {
  border: 2px solid red; /* Red border for input fields with errors */
}
.register-eye {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  left: 11rem;
  top: -2.4rem;
}
