.search-container {
  display: flex;
}
.left {
  flex: 2;
}
.right {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.search-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  width: 90%;
  margin-left: 10%;
  gap: 30px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10rem;
}
.search-books {
  width: 70rem;
  padding: 10px 20px;
  border: 1px solid #4d4d4d;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-books:focus {
  border-color: #0069d9;
  box-shadow: 0 0 10px rgba(0, 105, 217, 0.5);
}
.search-button {
  position: relative;
  right: 25rem;
}
.search-books-button {
  padding: 10px 20px;
  background-color: #0069d9;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-books-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
}

.search-books-button:focus {
  outline: none;
  background-color: #004b99;
  box-shadow: 0 0 10px rgba(0, 75, 153, 0.5);
}

.speechRecognition {
  display: inline-block;
  background-color: inherit;
  position: relative;
  top: 0.2rem;
  right: 19rem;
  border: none;
}
