.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border: 9px solid #e4e4e4;
  border-radius: 5px;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  border-bottom: 3px solid #f1f1f1;
  padding-bottom: 10px;
}
filter-group input[type="radio"] {
  width: 20px;
}

.filter-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filter-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}
.wrapper {
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .option {
  background: #fff;
  height: 60%;
  width: 55%;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding-left: 2px;
  cursor: pointer;
  border: 3px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  display: none;
}
.wrapper .option .dot::before {
  display: none;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.category-select {
  margin-top: 2rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-bottom: 20px;
}
.initial-category {
  padding: 10px;
  font-size: 1rem;
}
.category-select option {
  padding: 10px;
  font-size: 1rem;
}
.date-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-bottom: 20px;
}
