.outer-container {
  background: linear-gradient(to bottom right, #000000, #363636);
  min-height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-container h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.dashboard-container {
  padding: 2rem;
}

.admin-cards-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 1.4rem;
  max-width: 1600px;
}

.admin-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 22rem;
  height: 20rem;
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.admin-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 1.8rem;
  color: #000000;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #555;
  font-size: 1rem;
}

.admin-card-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.admin-card-link:hover {
  background-color: #222222;
}
