/* Default button style */
.action-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Disabled button style */
.action-button:disabled {
  background-color: #d3d3d3; /* Light gray */
  color: #888888; /* Gray text */
}

.book-add {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}
