
.return-button {
  background-color: #4CAF50; 
  color: white;
}


.return-button:disabled {
  background-color: #d3d3d3;
  color: #888888; 
}

.overdue-button {
  background-color: #e70a0a; 
  color: #080808; 
}

.overdue-button:hover {
  color: #f7f4f4; 
}

.book-add {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}
