.publisher-managment-outer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 110%;
  background: linear-gradient(to bottom right, #000000, #313131);
}
.publisher-management-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin: 1.5rem auto;
  background-color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUpQuick 0.4s forwards ease-in-out;
}

/* Fade-in and Slide-up Animation */
@keyframes fadeInSlideUpQuick {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.publisher-management-left {
  text-align: center;
  margin-bottom: 20px;
}
.publisher-management-image h2 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 20px;
  text-align: center;
}

.publisher-management-buttons {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.add-publisher-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s;
}

.add-publisher-button:hover {
  background-color: #565656;
  transform: translateY(-2px);
}

.action-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.update-publisher-button,
.delete-publisher-button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s;
}

.update-publisher-button {
  background-color: #3b3c3b;
  color: white;
}

.update-publisher-button:hover {
  background-color: #565656;
  transform: translateY(-2px);
}

.delete-publisher-button {
  background-color: #d32f2f;
  color: white;
}

.delete-publisher-button:hover {
  background-color: #f44336;
  transform: translateY(-2px);
}

.publisher-management-right {
  text-align: center;
  margin-bottom: 20px;
}

.publisher-management-search {
  margin-bottom: 20px;
  width: 100%;
}

.search-publisher {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease;
}

.search-publisher:focus {
  outline: none;
  border-color: #4caf50;
}

.publishers-table {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.publishers-table table {
  width: 100%;
  border-collapse: collapse;
}

.publishers-table th,
.publishers-table td {
  width: 10rem;
  padding: 9px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.publishers-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 700;
}

.publishers-table tr:hover {
  background-color: #f5f5f5;
}

.action-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 10rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  opacity: 0;
  animation: fadeInSlideUpQuick 0.4s forwards ease-in-out;
  animation-delay: 0.5s;
}

.pagination-list {
  display: flex;
  list-style: none;
  gap: 5px;
}

.pagination-item {
  background: inherit;
}

/* Pagination Button */
.pagination-button {
  background-color: inherit;
  border: none;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s, transform 0.2s;
}

/* Active Pagination Button */
.pagination-button.active {
  background-color: #3b3c3b;
  color: #fff;
  font-weight: bold;
}

/* Hover Effect */
.pagination-button:hover {
  background-color: #3b3c3b;
  color: #fff;
  transform: scale(1.1);
}

/* Focus Effect */
.pagination-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
