.outer-container {
  background: linear-gradient(to bottom right, #f0f0f0, #d9d9d9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
  box-sizing: border-box;
}

.chart-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-list li {
  margin: 5px 0;
  font-size: 16px;
}

.legend-list li:hover {
  font-weight: bold;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .chart-container {
    width: 100%;
    padding: 10px;
  }

  .chart-title {
    font-size: 20px;
  }

  .legend-list li {
    font-size: 14px;
  }
}
