.chart-container {
   display: flex;
   flex-direction: column;
   align-items: center; /* Center the title horizontally */
   margin: 20px;
 }
 
 .chart-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%; /* Make it take full width */
   align-items: center; /* Vertically align the chart and legend */
   padding: 20px;
 }
 
 .chart {
   flex: 1; /* Takes up the left side */
   display: flex;
   justify-content: flex-end; /* Align the chart to the right */
 }
 
 .legend {
   flex: 1; /* Takes up the right side */
   display: flex;
   justify-content: flex-start; /* Align the legend to the left */
 }
 
 .chart-title {
   font-size: 24px;
   margin-bottom: 20px;
   color: #333;
   text-align: center;
 }
 
 .loading-message {
   font-size: 18px;
   color: #555;
   text-align: center;
 }
 