.team-section {
  padding: 2rem 1rem;
  text-align: center;
}
.container {
  width: 100rem;
}
.team-header {
  margin-bottom: 2rem;
}

.team-title {
  font-size: 3rem;
  font-weight: bold;
}

.team-description {
  font-size: 1.2rem;
  color: #6c757d;
  max-width: 900px;
  margin: 0 auto;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.team-member {
  flex: 1 1 20%;
  max-width: 200px;
}

.avatar {
  object-fit: cover;
  width: 85%;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.avatar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.member-info {
  text-align: center;
  font-size: 1.2rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.role {
  font-size: 1rem;
  color: #6c757d;
  cursor: pointer;
}
