.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

.book-copy-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.book-copy-close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.book-copy-close:hover,
.book-copy-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book-copy-container {
  width: 100%;
  margin: 0 auto;
  height: 97%;
}

.book-copy-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.book-copy-table th,
.book-copy-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.book-copy-table td {
  text-align: left;
}

.book-copy-table .delete-column {
  text-align: center;
}

.book-copy-table th {
  background-color: #f2f2f2;
}

.book-copy-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.book-copy-table tr:hover {
  background-color: #f1f1f1;
}

.book-copy-table td input,
.book-copy-table td .basic-multi-select {
  width: 100%;
}

.book-copy-table th:nth-child(1),
.book-copy-table td:nth-child(1) {
  width: 25%;
}

.book-copy-table th:nth-child(2),
.book-copy-table td:nth-child(2) {
  width: 30%;
}

.book-copy-table th:nth-child(3),
.book-copy-table td:nth-child(3) {
  width: 30%;
}

.book-copy-table th:nth-child(4),
.book-copy-table td:nth-child(4) {
  width: 10%;
}

.language-copies {
  margin-bottom: 10px;
}
.add-book-copy-buttons {
  display: flex;
  gap: 20px;
}
.add-book-copy-buttons button {
  width: 100%;
}

.add-copy-button {
  width: 30%;
  gap: 2rem;
  padding: 10px 20px;
  background-color: #242624;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.add-copy-button:hover {
  background-color: #222422;
  transform: translateY(-2px);
}

.delete-button {
  border-radius: 0.3rem;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.book-copy-close-button {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.book-copy-close-button:hover {
  background-color: white;
  transform: scale(1.5);
}
