/* UpdateBook component specific styles */
.update-book-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeInQuick 0.4s ease-in-out;
  height: 100%;
  width: 100%;
}

.update-book-popup {
  max-width: fit-content;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  transform: none;
  animation: none;
  overflow: visible;
  top: 0px;
}

.update-book-container {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  height: 97%;
}

.update-book-container h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.update-book-multi-fields {
  display: flex;
  gap: 10px;
}

.update-book-multi-fields input,
.update-book-container input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.update-book-multi-fields input:focus,
.update-book-container input:focus {
  border-color: #120e09;
  box-shadow: 0 0 5px rgba(22, 21, 18, 0.5);
}

.update-book-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ddd;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 10px;
}

.update-book-textarea:focus {
  border-color: #fbb034;
  box-shadow: 0 0 5px rgba(251, 176, 52, 0.5);
}

.multi-select {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.multi-select .select {
  flex: 1;
  display: flex;
  height: 4rem;
}

.multi-select .select__control {
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  min-width: 120px;
}

.multi-select .select__control--is-focused {
  border-color: #fbb034;
  box-shadow: 0 0 5px rgba(251, 176, 52, 0.5);
}

.date {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.date:focus {
  border-color: #fbb034;
  box-shadow: 0 0 5px rgba(251, 176, 52, 0.5);
}

.update-book-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.update-book-button:hover {
  background-color: #222422;
  transform: translateY(-2px);
}

.add-books-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.add-books-close-button img {
  width: 20px;
  height: 20px;
}

.add-img-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-img-upload p {
  margin: 0;
  font-size: 1rem;
}

.add-img-upload label {
  cursor: pointer;
}

.add-img-upload img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  border: 2px dashed #ddd;
  transition: border-color 0.3s ease;
}

.add-img-upload img:hover {
  border-color: #fbb034;
}

.rs-picker-popup {
  width: fit-content;
}
.rs-picker input {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .multi-fields,
  .multi-select {
    flex-direction: column;
  }

  .multi-fields input,
  .multi-select .select {
    width: 100%;
  }
}
.update-books-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px; /* Ensure the button has a defined height */
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Smooth transition for the rotation */
}

.select {
  overflow: visible;
}
